{% include 'includes/header.twig' %}

<div class="container">
    <div class="jumbotron center-block">
        <h2 class="text-primary">{{ content }}</h2>
    </div>
</div>

{% include 'includes/footer.twig' %}
